{% extends "mavMusicBlog/base.html" %}
{% load static %}
    {% block title %}
        {% if category %}{{ category.name }}{% else %}Products{% endif %}
    {% endblock %}

{% block content %}
        <div id="sidebar">
            <h3>Categories</h3>
            <ul>
                <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "mavMusicBlog:product_list" %}">All</a>
                </li>
                {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif%}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="main" class="product-list">
            <h1>{% if category %}
                {{category.name }}
                {% else %} Musical Instruments {% endif%}</h1>

              <!--   <input style="width: 100%;" type="text" id="myInput"
               onkeyup="myFunction()" placeholder="Search for hospital.." title="Type in a name"> -->

            {% for product in products %}

                <div class="item">
                    <div class="thumbnail">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "img/violin-image.jpg" %}{% endif %}">
                    </a>
                    </div>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    <br>
                    ${{ product.price }}
                </div>
            {% endfor %}
        </div>



{% endblock %}